@import 'elements.less';

/* Your Custom code here */

.wrapper {
  width: 94%;
  max-width: 960px;
  margin: 0 auto;
}

/*
Header Styles
 */

.main_header {
  height: 250px;
  background: #282828;

  .header_third {
    width: 33.3%;
    float: left;

    .header_social {
      font-size: 25px;
      margin: 40px 0px 0px 40px;

      a {
        color: #353535;
        display: inline-block;
        margin-right: 8px;
        .transition(all 300ms ease-in-out);

        &:hover {
          color: #541515;
          text-shadow: 0px 3px 3px #1F1F1F;
          .transition(all 300ms ease-in-out);
        }
      }
    }

    &.header_logo {
      text-align: center;
      line-height: 250px;
    }

    &.header_quote {

      .header_paragraph {
        color: #848282;
        font-family: 'Crimson Text', serif;
        font-size: 24px;
        margin: 170px 0px 0px 115px;

        .quote {
          color: #800000;
        }

        .for_you {
          margin-left: 90px;
        }
      }
    }
  }
}

/*
Home-Page styles
*/

.body {
  background: #282828;
  min-height: 550px;

  .nav {
    width: 415px;
    min-height: 310px;
    margin: 0px auto;
    padding-top: 100px;

    .menu-item {
      border: 1px solid transparent;
      -moz-border-image: -moz-linear-gradient(left, #282828 0%, #ff0000 50%, #282828 100%);
      -webkit-border-image: -webkit-linear-gradient(left, #282828 0%, #ff0000 50%, #282828 100%);
      border-image: linear-gradient(to right, #282828 0%, #ff0000 50%, #282828 100%);
      border-image-slice: 1;
      font-size: 29px;
      margin-top: 4px;
      min-height: 75px;
      text-align: center;

      a {
        color: #828181;
        line-height: 75px;
        text-transform: uppercase;

        &:hover {
          background: linear-gradient(90deg, #5f1616 0%, #e72929 50%, #5f1616 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          .transition(all 300ms ease-in-out);
        }
      }
    }
  }

  .nav_bottom_image {
    background-image: url("img/nav_bottom_image.png");
    margin: 35px auto 0px auto;
    height: 41px;
    width: 56px;
  }
}

/*
Contacts Page styles
*/


nav.liner_menu {
  min-height: 80px;

  .ale_bodymenu {
    text-align: center;

    li {
      color: #474646;
      display: inline-block;
      font-size: 24px;
      line-height: 80px;
      margin: 0px 20px 0px 20px;
      position: relative;
      text-transform: uppercase;

      &:before {
        content: "\f111";
        color: #4d0000;
        font: normal normal normal 4px/1 FontAwesome;
        margin: -2px 0px 0px -22px;
        position: absolute;
        top: 50%;
      }

      &:last-child {
        &::after {
          content: "\f111";
          color: #4d0000;
          font: normal normal normal 4px/1 FontAwesome;
          margin: -2px 0px 0px 20px;
          position: absolute;
          top: 50%;
        }
      }

      a {
        color: inherit;

        &:hover {
          border-bottom: 1px solid transparent;
          border-top: 1px solid transparent;
          -moz-border-image: -moz-linear-gradient(left, #282828 0%, #ff0000 50%, #282828 100%);
          -webkit-border-image: -webkit-linear-gradient(left, #282828 0%, #ff0000 50%, #282828 100%);
          border-image: linear-gradient(to right, #282828 0%, #ff0000 50%, #282828 100%);
          border-image-slice: 1;

          background: linear-gradient(90deg, #5f1616 0%, #e72929 50%, #5f1616 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          .transition(all 300ms ease-in-out);
        }
      }
    }
  }
}
.container, .gallery {
  margin-top: 65px;

  p.title_parag {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;

    &:before {
      color: #830d0d;
      content: "\f068";
      font: normal normal normal 14px/1 FontAwesome;
      margin: 14px 0px 0px -22px;
      position: absolute;
    }

    &:after {
      color: #830d0d;
      content: "\f068";
      font: normal normal normal 14px/1 FontAwesome;
      margin: 14px 0px 0px 9px;
      position: absolute;
    }

    a.page_title {
      background: linear-gradient(90deg, #757474 0%, #e6e5e5 50%, #757474 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Vollkorn', serif;

      &:hover {
        cursor: default;
      }
    }
  }

  .page_content {
    text-align: center;

    p {
      color: #ffffff;
      font-family: 'Vollkorn', serif;
      font-size: 16px;
      text-align: center;
      line-height: 22px;
    }
  }

  .contacts_data {
    margin: 70px 0px 5px 0px;

    .parts {
      color: #9b9b9b;
      font-family: 'Vollkorn', serif;
      font-size: 17px;
      float: left;
      width: 50%;

      .cont_parag {
        margin: 0px 0px -10px 0px;
        text-align: center;

        &.number {
          margin-left: -43px;
        }

        &.mail {
          margin-top: 5px;
        }

        span.label {
          color: #434242;
          font-size: 25px;
        }

        span.value {
          margin-left: 8px;

          a {
            color: #9b9b9b;
          }
        }
      }

      &.contacts_social {
        margin-top: 15px;
        text-align: center;

        a {
          color: #353535;
          display: inline-block;
          font-size: 35px;
          margin-right: 12px;
          .transition(all 300ms ease-in-out);

          &:hover {
            color: #541515;
            text-shadow: 0px 3px 3px #1F1F1F;
            .transition(all 300ms ease-in-out);
          }
        }
      }
    }
  }
}

.contacts_form {
  margin: 80px 0px;

  p.error {
    text-shadow: 0px 2px 1px #262626;
    color: #631c1c;
    font-size: 30px;
    text-align: center;
  }

  .item_line {
    text-align: center;
    margin-top: 2px;

    .input {
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      -moz-border-image: -moz-linear-gradient(left, #282828 0%, #ff0000 50%, #282828 100%);
      -webkit-border-image: -webkit-linear-gradient(left, #282828 0%, #ff0000 50%, #282828 100%);
      border-image: linear-gradient(to right, #282828 0%, #ff0000 50%, #282828 100%);
      border-image-slice: 1;
      background-color: #282828;
      min-width: 235px;
      height: 30px;

      &.message {
        background-color: #2b2b2b;
        min-height: 180px;
        width: 400px;
      }
    }

    textarea, input[type='text'], input[type='email'] {
      color: #8e8e90;
      font-size: 15px;
      font-family: 'Vollkorn', serif;
      padding: 10px 10px;

      &::-webkit-input-placeholder { color: #666668; }
      &::-moz-placeholder          { color: #666668; } /* Firefox 19+ */
      &:-moz-placeholder           { color: #666668; } /* Firefox 18- */
      &:-ms-input-placeholder      { color: #666668; }
    }

    .submit {
      color: #7e2d2d;
      font-size: 14px;
      font-weight: bold;
      text-shadow: 0px 2px black;
      text-align: left;
      margin-left: 35%;

      &:hover {
        color: #e23b3b;
      }
    }
  }
}

/*
Slider Page
*/


.gallery {

  .top_slider_line {
    border-top: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #282828 0%, #990202 50%, #282828 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #282828 0%, #990202 50%, #282828 100%);
    border-image: linear-gradient(to right, #282828 0%, #990202 50%, #282828 100%);
    border-image-slice: 1;
    margin: 30px auto;
    width: 350px;
    height: 1px;
  }

  .flexslider {
    margin: 0px auto;
    border: 15px solid #242424;
    position: relative;

    .flex-prev {
      text-shadow: -3px 0px 2px #201f1f;
      color: #6f0101;
      font-size: 60px;
      display: block;
      position: absolute;
      width: 15px;
      height: 20px;
      top: 50%;
      margin-left: -46px;
      margin-top: -22px;

      &:hover {
        color: #ad0101;
        .transition(all 500ms aese-in-out);
      }
    }

    .flex-next {
      text-shadow: -3px 0px 2px #201f1f;
      color: #6f0101;
      font-size: 60px;
      display: block;
      position: absolute;
      width: 15px;
      height: 20px;
      top: 50%;
      left: 100%;
      margin-left: 26px;
      margin-top: -22px;

      &:hover {
        color: #ad0101;
        .transition(all 500ms aese-in-out);
      }
    }
  }
}

.see_all_photos {
  width: 100%;

  .see_all_photos_parag {
    font-family: 'Vollkorn', serif;
    margin-top: 14px;
    text-transform: uppercase;
    text-align: center;

    a {
      color: #6f0101;
      font-size: 27px;
      text-shadow: 0px 2px 3px #201f1f;
      .transition(all 300ms ease-in-out);

      &:hover {
        color: #ad0101;
        .transition(all 300ms ease-in-out);
      }
    }
  }
}

.bottom_slider_line {
  border-top: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #282828 0%, #990202 50%, #282828 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #282828 0%, #990202 50%, #282828 100%);
  border-image: linear-gradient(to right, #282828 0%, #990202 50%, #282828 100%);
  border-image-slice: 1;
  margin: 8px auto 100px auto;
  width: 350px;
  height: 1px;
}

/*
Gallery Page
*/

.gallery-page {

  .gallery-post {
    display: inline-block;
    float: left;
    margin: 0px 4px 4px 0px;
    position: relative;

    a {
      .attachment-min-photo-size {
        border: 7px solid #3d3d3d;
      }
    }

    &:nth-child(4), &:nth-child(8), &:nth-child(12) {
      margin-right: 0;
    }

    &:hover {
      .mask {
        .opacity(1);
        .transition(all 300ms ease-in-out);
      }
    }

    .mask {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      -moz-border-image: -moz-linear-gradient(left, #282828 0%, #ad0101 50%, #282828 100%);
      -webkit-border-image: -webkit-linear-gradient(left, #282828 0%, #ad0101 50%, #282828 100%);
      border-image: linear-gradient(to right, #282828 0%, #ad0101 50%, #282828 100%);
      border-image-slice: 1;
      align-items: center;
      background: rgba(61,61,61,0.8);
      left: 0px;
      position: absolute;
      top: 0px;
      justify-content: center;
      width: 100%;
      height: 100%;
      display: flex;
      .opacity(0);
      .transition(all 300ms ease-in-out);

      .arrow {
        display: block;
        color: #ad0101;
        font-size: 45px;
        text-align: center;
        line-height: 75px;
      }
    }
  }
}

.pagination {
  margin: 30px 0px 100px 0px;
  text-align: center;

  .left_arrow, .paginate_item, .right_arrow {
    display: inline-block;
  }

  .left_arrow, .right_arrow {
    font-size: 27px;
    margin: 10px 30px;

    a, i {
      color: #8e8e90;

      &:hover {
        color: #fff;
      }
    }
  }

  .page-numbers {
    color: #ad0101;
    display: inline;
    font-family: 'Vollkorn', serif;
    font-size: 17px;
    margin: 0px 5px;

    &:hover {
      color: #ff0101;
      .transition(all 300ms ease-in-out);
    }

    li {
      display: inline-block;

      span.current {
        color: #fff;
      }
    }
  }
}

/*
Footer styles
*/

.main_footer {
  border: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #282828 0%, #d8d5d5 50%, #282828 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #282828 0%, #d8d5d5 50%, #282828 100%);
  border-image: linear-gradient(to right, #282828 0%, #d8d5d5 50%, #282828 100%);
  border-image-slice: 1;
  height: 80px;

  .footer_copyrights {
    p {
      color: #343434;
      font-family: Arial, "Times New Roman", "Bitstream Charter", Times, serif;
      font-size: 18px;
      line-height: 80px;
      margin-bottom: 6px;
      text-align: center;
    }
  }
}
