@import 'elements.less';

/* Your Custom code here */

.wrapper {
  width: 94%;
  max-width: 960px;
  margin: 0 auto;
}

/*
Header Styles
 */

.main_header {
  height: 250px;
  background: #282828;

  .header_third {
    width: 33.3%;
    float: left;

    &.header_logo {
      text-align: center;
      line-height: 250px;
    }

    &.header_quote {

      .header_paragraph {
        color: #848282;
        font-family: "slabo";
        font-size: 24px;
        margin: 170px 0px 0px 115px;

        .quote {
          color: #800000;
        }
      }
    }
  }
}
.body {
  background: #282828;
  height: 550px;
}
