.nobreak {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  display: table;
}
/* Your Custom code here */
.wrapper {
  width: 94%;
  max-width: 960px;
  margin: 0 auto;
}
/*
Header Styles
 */
.main_header {
  height: 250px;
  background: #282828;
}
.main_header .header_third {
  width: 33.3%;
  float: left;
}
.main_header .header_third .header_social {
  font-size: 25px;
  margin: 40px 0px 0px 40px;
}
.main_header .header_third .header_social a {
  color: #353535;
  display: inline-block;
  margin-right: 8px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.main_header .header_third .header_social a:hover {
  color: #541515;
  text-shadow: 0px 3px 3px #1F1F1F;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.main_header .header_third.header_logo {
  text-align: center;
  line-height: 250px;
}
.main_header .header_third.header_quote .header_paragraph {
  color: #848282;
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  margin: 170px 0px 0px 115px;
}
.main_header .header_third.header_quote .header_paragraph .quote {
  color: #800000;
}
.main_header .header_third.header_quote .header_paragraph .for_you {
  margin-left: 90px;
}
/*
Home-Page styles
*/
.body {
  background: #282828;
  min-height: 550px;
}
.body .nav {
  width: 415px;
  min-height: 310px;
  margin: 0px auto;
  padding-top: 100px;
}
.body .nav .menu-item {
  border: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #282828 0%, #ff0000 50%, #282828 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #282828 0%, #ff0000 50%, #282828 100%);
  border-image: linear-gradient(to right, #282828 0%, #ff0000 50%, #282828 100%);
  border-image-slice: 1;
  font-size: 29px;
  margin-top: 4px;
  min-height: 75px;
  text-align: center;
}
.body .nav .menu-item a {
  color: #828181;
  line-height: 75px;
  text-transform: uppercase;
}
.body .nav .menu-item a:hover {
  background: linear-gradient(90deg, #5f1616 0%, #e72929 50%, #5f1616 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.body .nav_bottom_image {
  background-image: url("img/nav_bottom_image.png");
  margin: 35px auto 0px auto;
  height: 41px;
  width: 56px;
}
/*
Contacts Page styles
*/
nav.liner_menu {
  min-height: 80px;
}
nav.liner_menu .ale_bodymenu {
  text-align: center;
}
nav.liner_menu .ale_bodymenu li {
  color: #474646;
  display: inline-block;
  font-size: 24px;
  line-height: 80px;
  margin: 0px 20px 0px 20px;
  position: relative;
  text-transform: uppercase;
}
nav.liner_menu .ale_bodymenu li:before {
  content: "\f111";
  color: #4d0000;
  font: normal normal normal 4px/1 FontAwesome;
  margin: -2px 0px 0px -22px;
  position: absolute;
  top: 50%;
}
nav.liner_menu .ale_bodymenu li:last-child::after {
  content: "\f111";
  color: #4d0000;
  font: normal normal normal 4px/1 FontAwesome;
  margin: -2px 0px 0px 20px;
  position: absolute;
  top: 50%;
}
nav.liner_menu .ale_bodymenu li a {
  color: inherit;
}
nav.liner_menu .ale_bodymenu li a:hover {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #282828 0%, #ff0000 50%, #282828 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #282828 0%, #ff0000 50%, #282828 100%);
  border-image: linear-gradient(to right, #282828 0%, #ff0000 50%, #282828 100%);
  border-image-slice: 1;
  background: linear-gradient(90deg, #5f1616 0%, #e72929 50%, #5f1616 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.container,
.gallery {
  margin-top: 65px;
}
.container p.title_parag,
.gallery p.title_parag {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}
.container p.title_parag:before,
.gallery p.title_parag:before {
  color: #830d0d;
  content: "\f068";
  font: normal normal normal 14px/1 FontAwesome;
  margin: 14px 0px 0px -22px;
  position: absolute;
}
.container p.title_parag:after,
.gallery p.title_parag:after {
  color: #830d0d;
  content: "\f068";
  font: normal normal normal 14px/1 FontAwesome;
  margin: 14px 0px 0px 9px;
  position: absolute;
}
.container p.title_parag a.page_title,
.gallery p.title_parag a.page_title {
  background: linear-gradient(90deg, #757474 0%, #e6e5e5 50%, #757474 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Vollkorn', serif;
}
.container p.title_parag a.page_title:hover,
.gallery p.title_parag a.page_title:hover {
  cursor: default;
}
.container .page_content,
.gallery .page_content {
  text-align: center;
}
.container .page_content p,
.gallery .page_content p {
  color: #ffffff;
  font-family: 'Vollkorn', serif;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
}
.container .contacts_data,
.gallery .contacts_data {
  margin: 70px 0px 5px 0px;
}
.container .contacts_data .parts,
.gallery .contacts_data .parts {
  color: #9b9b9b;
  font-family: 'Vollkorn', serif;
  font-size: 17px;
  float: left;
  width: 50%;
}
.container .contacts_data .parts .cont_parag,
.gallery .contacts_data .parts .cont_parag {
  margin: 0px 0px -10px 0px;
  text-align: center;
}
.container .contacts_data .parts .cont_parag.number,
.gallery .contacts_data .parts .cont_parag.number {
  margin-left: -43px;
}
.container .contacts_data .parts .cont_parag.mail,
.gallery .contacts_data .parts .cont_parag.mail {
  margin-top: 5px;
}
.container .contacts_data .parts .cont_parag span.label,
.gallery .contacts_data .parts .cont_parag span.label {
  color: #434242;
  font-size: 25px;
}
.container .contacts_data .parts .cont_parag span.value,
.gallery .contacts_data .parts .cont_parag span.value {
  margin-left: 8px;
}
.container .contacts_data .parts .cont_parag span.value a,
.gallery .contacts_data .parts .cont_parag span.value a {
  color: #9b9b9b;
}
.container .contacts_data .parts.contacts_social,
.gallery .contacts_data .parts.contacts_social {
  margin-top: 15px;
  text-align: center;
}
.container .contacts_data .parts.contacts_social a,
.gallery .contacts_data .parts.contacts_social a {
  color: #353535;
  display: inline-block;
  font-size: 35px;
  margin-right: 12px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.container .contacts_data .parts.contacts_social a:hover,
.gallery .contacts_data .parts.contacts_social a:hover {
  color: #541515;
  text-shadow: 0px 3px 3px #1F1F1F;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.contacts_form {
  margin: 80px 0px;
}
.contacts_form p.error {
  text-shadow: 0px 2px 1px #262626;
  color: #631c1c;
  font-size: 30px;
  text-align: center;
}
.contacts_form .item_line {
  text-align: center;
  margin-top: 2px;
}
.contacts_form .item_line .input {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #282828 0%, #ff0000 50%, #282828 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #282828 0%, #ff0000 50%, #282828 100%);
  border-image: linear-gradient(to right, #282828 0%, #ff0000 50%, #282828 100%);
  border-image-slice: 1;
  background-color: #282828;
  min-width: 235px;
  height: 30px;
}
.contacts_form .item_line .input.message {
  background-color: #2b2b2b;
  min-height: 180px;
  width: 400px;
}
.contacts_form .item_line textarea,
.contacts_form .item_line input[type='text'],
.contacts_form .item_line input[type='email'] {
  color: #8e8e90;
  font-size: 15px;
  font-family: 'Vollkorn', serif;
  padding: 10px 10px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.contacts_form .item_line textarea::-webkit-input-placeholder,
.contacts_form .item_line input[type='text']::-webkit-input-placeholder,
.contacts_form .item_line input[type='email']::-webkit-input-placeholder {
  color: #666668;
}
.contacts_form .item_line textarea::-moz-placeholder,
.contacts_form .item_line input[type='text']::-moz-placeholder,
.contacts_form .item_line input[type='email']::-moz-placeholder {
  color: #666668;
}
.contacts_form .item_line textarea:-moz-placeholder,
.contacts_form .item_line input[type='text']:-moz-placeholder,
.contacts_form .item_line input[type='email']:-moz-placeholder {
  color: #666668;
}
.contacts_form .item_line textarea:-ms-input-placeholder,
.contacts_form .item_line input[type='text']:-ms-input-placeholder,
.contacts_form .item_line input[type='email']:-ms-input-placeholder {
  color: #666668;
}
.contacts_form .item_line .submit {
  color: #7e2d2d;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0px 2px black;
  text-align: left;
  margin-left: 35%;
}
.contacts_form .item_line .submit:hover {
  color: #e23b3b;
}
/*
Slider Page
*/
.gallery .top_slider_line {
  border-top: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #282828 0%, #990202 50%, #282828 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #282828 0%, #990202 50%, #282828 100%);
  border-image: linear-gradient(to right, #282828 0%, #990202 50%, #282828 100%);
  border-image-slice: 1;
  margin: 30px auto;
  width: 350px;
  height: 1px;
}
.gallery .flexslider {
  margin: 0px auto;
  border: 15px solid #242424;
  position: relative;
}
.gallery .flexslider .flex-prev {
  text-shadow: -3px 0px 2px #201f1f;
  color: #6f0101;
  font-size: 60px;
  display: block;
  position: absolute;
  width: 15px;
  height: 20px;
  top: 50%;
  margin-left: -46px;
  margin-top: -22px;
}
.gallery .flexslider .flex-prev:hover {
  color: #ad0101;
  -webkit-transition: all 500ms aese-in-out;
  -moz-transition: all 500ms aese-in-out;
  -ms-transition: all 500ms aese-in-out;
  -o-transition: all 500ms aese-in-out;
  transition: all 500ms aese-in-out;
}
.gallery .flexslider .flex-next {
  text-shadow: -3px 0px 2px #201f1f;
  color: #6f0101;
  font-size: 60px;
  display: block;
  position: absolute;
  width: 15px;
  height: 20px;
  top: 50%;
  left: 100%;
  margin-left: 26px;
  margin-top: -22px;
}
.gallery .flexslider .flex-next:hover {
  color: #ad0101;
  -webkit-transition: all 500ms aese-in-out;
  -moz-transition: all 500ms aese-in-out;
  -ms-transition: all 500ms aese-in-out;
  -o-transition: all 500ms aese-in-out;
  transition: all 500ms aese-in-out;
}
.see_all_photos {
  width: 100%;
}
.see_all_photos .see_all_photos_parag {
  font-family: 'Vollkorn', serif;
  margin-top: 14px;
  text-transform: uppercase;
  text-align: center;
}
.see_all_photos .see_all_photos_parag a {
  color: #6f0101;
  font-size: 27px;
  text-shadow: 0px 2px 3px #201f1f;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.see_all_photos .see_all_photos_parag a:hover {
  color: #ad0101;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.bottom_slider_line {
  border-top: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #282828 0%, #990202 50%, #282828 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #282828 0%, #990202 50%, #282828 100%);
  border-image: linear-gradient(to right, #282828 0%, #990202 50%, #282828 100%);
  border-image-slice: 1;
  margin: 8px auto 100px auto;
  width: 350px;
  height: 1px;
}
/*
Gallery Page
*/
.gallery-page .gallery-post {
  display: inline-block;
  float: left;
  margin: 0px 4px 4px 0px;
  position: relative;
}
.gallery-page .gallery-post a .attachment-min-photo-size {
  border: 7px solid #3d3d3d;
}
.gallery-page .gallery-post:nth-child(4),
.gallery-page .gallery-post:nth-child(8),
.gallery-page .gallery-post:nth-child(12) {
  margin-right: 0;
}
.gallery-page .gallery-post:hover .mask {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.gallery-page .gallery-post .mask {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #282828 0%, #ad0101 50%, #282828 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #282828 0%, #ad0101 50%, #282828 100%);
  border-image: linear-gradient(to right, #282828 0%, #ad0101 50%, #282828 100%);
  border-image-slice: 1;
  align-items: center;
  background: rgba(61, 61, 61, 0.8);
  left: 0px;
  position: absolute;
  top: 0px;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.gallery-page .gallery-post .mask .arrow {
  display: block;
  color: #ad0101;
  font-size: 45px;
  text-align: center;
  line-height: 75px;
}
.pagination {
  margin: 30px 0px 100px 0px;
  text-align: center;
}
.pagination .left_arrow,
.pagination .paginate_item,
.pagination .right_arrow {
  display: inline-block;
}
.pagination .left_arrow,
.pagination .right_arrow {
  font-size: 27px;
  margin: 10px 30px;
}
.pagination .left_arrow a,
.pagination .right_arrow a,
.pagination .left_arrow i,
.pagination .right_arrow i {
  color: #8e8e90;
}
.pagination .left_arrow a:hover,
.pagination .right_arrow a:hover,
.pagination .left_arrow i:hover,
.pagination .right_arrow i:hover {
  color: #fff;
}
.pagination .page-numbers {
  color: #ad0101;
  display: inline;
  font-family: 'Vollkorn', serif;
  font-size: 17px;
  margin: 0px 5px;
}
.pagination .page-numbers:hover {
  color: #ff0101;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.pagination .page-numbers li {
  display: inline-block;
}
.pagination .page-numbers li span.current {
  color: #fff;
}
/*
Footer styles
*/
.main_footer {
  border: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #282828 0%, #d8d5d5 50%, #282828 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #282828 0%, #d8d5d5 50%, #282828 100%);
  border-image: linear-gradient(to right, #282828 0%, #d8d5d5 50%, #282828 100%);
  border-image-slice: 1;
  height: 80px;
}
.main_footer .footer_copyrights p {
  color: #343434;
  font-family: Arial, "Times New Roman", "Bitstream Charter", Times, serif;
  font-size: 18px;
  line-height: 80px;
  margin-bottom: 6px;
  text-align: center;
}
